{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <!-- Main Content-->
    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">Recent poems</h3>
                <div id="poem-list" class="px-5">
                    {% include 'poem/list.html.twig' with { poems }%}
                </div>
            </div>

                <!-- Side menu-->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    {% include 'widget/categories.html.twig' %}
                </div>

            </div>
        </div>
    </main>
{% endblock %}
