<div class="p-4">
    <h4 class="fst-italic">Categories</h4>
    <ol class="list-unstyled mb-0">
        <li>
            <a class="text-decoration-none" href="#">Love</a>
        </li>
        <li>
            <a class="text-decoration-none" href="#">Chimera</a>
        </li>
        <li>
            <a class="text-decoration-none" href="#">Life</a>
        </li>
        <li>
            <a class="text-decoration-none" href="#">Awe</a>
        </li>
        <li>
            <a class="text-decoration-none" href="#">French poems</a>
        </li>
    </ol>
</div>